@import "~@/style/variables";

.content-detail-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.title-content {
  flex-grow: 1;
  &.only-list {
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .title-list-container {
    position: fixed;
    height: 100%;
    display: flex ;
    overflow-x: hidden;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    .title-item {
      padding: @padding @padding;
      width: 100%;
      &:hover, &.active {
        cursor: pointer;
        .title {
          font-weight: bold;
          color: @red;
        }
      }
      .title {
        font-size: 14px;
      }
      .info {
        padding: @padding/2 0 0 0;
        .time {
          font-style: italic;
        }
      }
    }
  }
}

.touch-div {
  flex-grow: 0;
  flex-shrink: 0;
  top: 0;
  left: 100%;
  width: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: col-resize;
  background-color: @border-color;
}

.detail-content {
  flex-grow: 1;
  // overflow-x: auto;
  height: 100%;
  .title {
    padding: @padding;
    text-align: left;
    .name {
      font-size: 20px;
      font-weight: 800;
    }
    .date {
      padding: @padding-2;
      font-size: 12px;
      color: @font-color-grey;
      font-style: italic;
    }
  }
  
  .markdown-container {
    margin: auto;
    padding: @padding;
    padding-bottom: 100px;
  }
}

.dark-theme {
  .touch-div {
    background-color: @dark-theme-border;
    span {
      background-color: @grey-20;
    }
  }
  .markdown-container {
    color: @dark-theme-color;
  }
}
