@import '~@/style/variables.less';

@{deep} body {
  overflow-y: auto !important;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: @padding*2 0 0 0;

  .content-container {
    position: relative;
    overflow: hidden;

    width: 100%;
    max-width: 1200px;
    padding: 0 @padding;

    .color-row {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;

      width: 100%;
      min-height: 50px;
    }
    .title {
      font-size: 32px;
      font-weight: 800;
    }
    .slogan {
      justify-content: flex-end;
      color: @gray-7;
      font-style: italic;
    }
    .nav,
    .site,
    .social {
      position: relative;
      span {
        margin: 0 @margin-2 0 0;
        cursor: pointer;
        &:hover {
          font-weight: bold;
          color: @hover-color;
          box-shadow: 0 -1px 0 0 @hover-color inset;
        }
      }
    }
    .social {
      font-size: 16px;
      span {
        &:hover {
          box-shadow: none;
        }
      }
    }
    .info {
      margin-top: @margin;
      text-align: right;
      .beian,
      .run-time {
        svg {
          fill: @gray-7;
          text {
            line-height: 1;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.text-shadow {
  text-shadow: 1px 1px rgba(173, 175, 175, 0.288), 2px 2px rgba(172, 175, 175, 0.288),
    3px 3px rgba(132, 139, 139, 0.288), 4px 4px rgba(133, 137, 138, 0.288);
}

// dark mode
.dark-theme {
  .content-container {
    .bg-gray {
      background: @dark-bg-light;
      color: @dark-font-color;
    }
    .bg-gray-light {
      background: @dark-bg;
      color: @dark-font-color;
    }
  }
}
