@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui,-apple-system,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;

  color-scheme: light dark;

  background-color: #fdfdfd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  scroll-behavior: smooth; 
}

html,body {
  overflow: overlay;
  margin: 0;
}

.monospace {
  font-family: monospace !important;
}

/* 标题样式 */
h1:before,
h2:before,
h3:before {
  font-size: 0.6rem !important;
  width: auto;
  margin-top: 0.2em;
  margin-right: 1px;
  overflow: visible;
  font-weight: normal !important;
}
h1:before {
  content: 'H1'
}
h2:before {
  content: 'H2'
}
h3:before {
  content: 'H3';
}

/* 全局 Markdown 样式 */
.global-markdown p {
  overflow: auto;
  word-wrap: break-word;
}
.global-markdown blockquote {
  margin: 1em 0;
  border-left: 0.5em solid gainsboro;
  padding-left: 1em;
}
.global-markdown ul,ol {
  margin: 2px 0 16px 0;
}
.global-markdown li {
  list-style-type: disc;
  margin: 14px 0;
}
.global-markdown li:has(p) {
  margin: 0;
}
.global-markdown h1 {
  font-size: 1.8em;
  padding: 1em 0 2px 0;
}
.global-markdown h2 {
  font-size: 1.6em;
  padding: 0.8em 0 2px 0;
  border-bottom: 1px solid gainsboro;
}
.global-markdown h3 {
  font-size: 1.4em;
  padding: 4px 0 2px 0;
}
.global-markdown strong {
  color:rgb(255 0 0);
  font-weight: bolder;
}

.heti pre {
  background: none;
}
