@import "~@/style/variables";

@align: right;
@padding-right: 24px;

.nav-container {
  height: 100%;
  padding: 0;
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  .title {
    text-align: @align;
    padding: 40px @padding-right 8px 0;
    cursor: pointer;
    width: 100%;
  }
  .slogan {
    font-size: 12px;
    padding: 0 @padding-right 20px 20px;
    text-align: @align;
    line-height: 1.2;
    opacity: 0.3;
    width: 100%;
  }
  .nav-content {
    width: 100%;
    .nav-item {
      width: 100%;
      padding: 24px @padding-right 0 0;
      cursor: pointer;
      .des {
        text-align: right;
        margin: auto;
        line-height: 1.2;
        font-size: 14px;
      }
      .en {
        writing-mode: vertical-rl;
        letter-spacing: 2px;
      }
    }
    .nav-item, .nav-item:focus {
      color: @font-color-grey;
    }
    .nav-item:hover {
      color: @red-60;
    }
    .nav-item.active {
      .des {
        font-weight: @font-bold;
        color: @red;
      }
    }
  }
  .nav-setting,.nav-action {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .setting-item{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: @padding/2 @padding-right 0 0;
      cursor: pointer;
      opacity: 0.3;
      z-index: 1;
      &:hover, &:focus, &:active, &:target {
        opacity: 1;
      }
      .setting-icon {
        font-size: 16px;
      }
    }
  }

  .setting-action {
    width: 100%;
    text-align: right;
    padding: 24px 0;
  }
  .setting-item{
    margin: @padding @padding-right;
    opacity: 0.5;
    &:hover, &:focus, &:active, &:target {
      opacity: 1;
    }
  }
  .nav-icon {
    font-size: 20px;
  }
}

.dark-theme {
  .nav-container {
    .nav-item {
      color: @font-color-grey2;
    }
    .nav-item:hover {
      color: white;
    }
    .nav-bottom, .nav-action {
      .bottom-icon {
        color: white;
      }
    }
  }
}