@charset "UTF-8";
@import "~ant-design-vue/dist/antd.less";
@import "variables"; // 变量

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cousine", "更纱黑体 SC", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  color: @font-color-grey;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;

  a {
    color: @font-color-grey;
  }
  a, a:hover {
    text-decoration: none;
  }
  a:hover {
    color: @red;
  }
  #app {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
  }
}
::-webkit-scrollbar {
  width: 6px!important;
  height: 5px!important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3)!important;
}

.hidden {
  opacity: 0;
}

.z-index-0 {
  z-index: 0 !important;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: @font-color-grey;
}

.list-header {
  top: 0;
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid @grey;
  position: fixed;
  background: white;
  z-index: 999;
}

.exist-menu {
  .list-header, .back-header {
    width: calc(100% - 100px);
  }
}

.back-header {
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid @border-color;
  position: relative;
  display: flex;
  flex-direction: row;
  .back-btn {
    display: inline-block;
    width: 40px;
    padding: 0 0 0 @base-padding;
    .back-btn-icon {
      font-size: 18px;
    }
  }
  .back-btn:hover {
    color: @red-60;
    cursor: pointer;
  }
  .title {
    display: inline-block;
    width: calc(100% - 40px);
    padding: 0 40px 0 0;
  }
}

.tab-header {
  top: 0;
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 12px;
  border-bottom: 1px solid @grey;
  text-align: left;
  padding: 0 20px;
}

.sidebar-drawer {
  .ant-drawer-content-wrapper {
    min-width: 270px;
  }
  .ant-drawer-body {
    height: 100%;
    padding: 0 10px;
    overflow: auto;
  }
}

.list-container {
  .title {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: @font-bold;
    border-bottom: 1px solid @border-color;
  }
  .item {
    font-size: 12px;
    padding: 15px 20px;
    border-bottom: 1px solid @border-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .content {
      display: inline-block;
    }
    .operation {
      right: 0;
      display: inline-block;
    }
  }

  .divider {
    height: 8px;
    background: @grey;
  }
}

.fixed-header-container {
  padding: 71px 16px 0 16px;
}

// Spin 样式
.spin-loading-container {
  width: 100%;
  height: 100%;
  z-index: 1001;
  .ant-spin {
    background-color: white;
    max-height: none !important;
    height: 100%;
  }
}
.spin-loading, .ant-spin-text {
  color: @font-color-grey;
}

.list-item {
  padding: @base-padding @base-padding @base-padding/2 @base-padding;
  border-bottom: 1px solid @border-color;
  &:hover, &.active {
    background-color: @border-color;
  }
  .info {
    padding: 8px 0 0 0;
    text-align: left;
    color: @font-color-grey2;
    font-size: 12px;
    font-style: italic;
  }
}

.markdown-body {
  img {
    max-width: 800px;
    width: 100%;
  }
}

// 暗黑模式
.dark-theme {
  background-color: @dark-theme-bg;
  color: @dark-theme-color;
  transition: all 300ms;
  opacity: 0.99;
  a,
  h1, h2, h3, h4, h5, h6 {
    color: @dark-theme-color;
  }
  #app {
    background-color: @dark-theme-bg;
  }
  .list-header {
    background: @dark-theme-bg;
    color: @dark-theme-color;
    border-bottom-color: @dark-theme-border;
    transition: all 300ms;
  }
  .logo {
    color: @grey;
  }

  .markdown-body {
    h1, h2, h3, h4, h5, h6 {
      color: @dark-theme-color;
    }
    h1, h2 {
      border-bottom-color: @dark-theme-border;
    }
    pre {
      background-color: @grey-20;
      code {
        background-color: unset;
      }
    }
    p, ol, ul {
      color: @dark-theme-color !important;
    }
    hr {
      background-color: @grey-20 !important;
    }
  }

  .sidebar-drawer {
    .ant-drawer-mask {
      opacity: 0.6;
      background: @dark-theme-bg;
    }
    .ant-drawer-wrapper-body,.ant-drawer-body {
      color: @dark-theme-color;
      background: @dark-theme-bg;
    }
    .ant-drawer-wrapper-body {
      border-right: 1px solid @dark-theme-border;
    }
  }

    // Spin 样式
  .spin-loading-container {
    .ant-spin {
      background-color: @dark-theme-bg;
    }
  }
  .ant-spin-nested-loading > div > .ant-spin .ant-spin-text {
    text-shadow: none;
  }

  .list-item {
    color: @dark-theme-color;
    border-bottom-color: @dark-theme-border !important;
    &:hover, &.active {
      background-color: @dark-theme-bg-hover !important;
    }
    .info {
      color: @grey-30;
    }
  }
}
