@import "~@/style/variables";

.layout-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  .sidebar-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    @{deep} .nav-container {
      position: fixed;
    }
  }
  .router-container {
    flex-grow: 1;
  }
}

.dark-theme {
  .base-container {
    .side-container {
      border-right: 1px solid @dark-theme-border;
    }
    .touch-div {
      background-color: @dark-theme-border;
      span {
        background-color: @grey-20;
      }
    }
    .content-header{
      border-bottom: 1px solid @dark-theme-border;
    }
  }
}