:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,body {
  overflow: overlay;
  font-family: "LXGW WenKai", sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.global-markdown p {
  word-wrap: break-word;
}
.global-markdown blockquote {
  margin: 1em 0 1em 0.5em;
  border-left: 0.5em solid gainsboro;
  padding-left: 1em;
}
.global-markdown ul {
  margin: 1em;
}
.global-markdown li {
  list-style-type: disc;
  margin-left: 0.5em;
}
